<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.gruul.goods.service.mp.mapper.ShopFollowMapper">
    <select id="pageShopFollow" resultType="com.medusa.gruul.goods.service.model.vo.ShopFollowVO">
        SELECT product.shop_id          AS shopId,
               MAX(product.create_time) AS createTime
        FROM t_product product
        WHERE product.deleted = 0
          AND product.status = ${@com.medusa.gruul.goods.api.model.enums.ProductStatus @SELL_ON.status}
          AND EXISTS(SELECT follow.id
                     FROM t_shop_follow AS follow
                     WHERE follow.deleted = 0
                       AND follow.shop_id = product.shop_id
                       AND follow.user_id = #{shopFollowParam.userId})
          AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[ <= ]]> DATE (product.create_time)
        GROUP BY
            product.shop_id
    </select>
    <select id="getShopFollowPage" resultType="com.medusa.gruul.goods.service.model.vo.MyShopFollowVO">
        SELECT
        follow.numberFollowers AS numberFollowers,
        shopFollow.shop_id AS shopId,
        shopFollow.shop_name AS shopName,
        shopFollow.shop_logo AS logo

        FROM
        t_shop_follow shopFollow
        INNER JOIN (SELECT COUNT(*) AS numberFollowers,shop_id
        FROM t_shop_follow
        WHERE deleted = 0 GROUP BY shop_id) follow
        ON follow.shop_id = shopFollow.shop_id

        WHERE
        shopFollow.deleted = 0
        <if test="userId != null">
            AND shopFollow.user_id = #{userId}
        </if>
        <if test="shopFollowParam != null">
            <if test="shopFollowParam.shopName != null and shopFollowParam.shopName != ''">
                AND shop_name LIKE CONCAT('%', #{shopFollowParam.shopName}, '%')
            </if>
        </if>
    </select>


    <select id="getHasNewProducts" resultType="com.medusa.gruul.goods.service.model.vo.MyShopFollowVO">
        SELECT
        DISTINCT shopFollow.shop_id AS shopId,
        shopFollow.shop_name AS shopName,
        shopFollow.shop_logo AS logo,
        follow.numberFollowers AS numberFollowers,
        1 AS newProducts
        FROM
        t_shop_follow shopFollow
        INNER JOIN (SELECT COUNT(*) AS numberFollowers,shop_id
        FROM t_shop_follow
        WHERE deleted = 0
        GROUP BY shop_id) follow ON follow.shop_id = shopFollow.shop_id
        WHERE
        EXISTS
        (SELECT product.shop_id
        FROM t_product AS product
        WHERE product.status = ${@com.medusa.gruul.goods.api.model.enums.ProductStatus @SELL_ON.status}
        AND product.deleted = 0
        AND product.id NOT IN (SELECT product_id FROM t_shop_follow_new_products WHERE deleted = 0)
        AND product.shop_id = shopFollow.shop_id)
        AND
        shopFollow.deleted = 0
        <if test="userId != null">
            AND shopFollow.user_id = #{userId}
        </if>
        <if test="shopFollowParam != null">
            <if test="shopFollowParam.shopName != null and shopFollowParam.shopName != ''">
                AND shopFollow.shop_name LIKE concat('%', #{shopFollowParam.shopName}, '%')
            </if>
        </if>
    </select>
    <select id="homePageMyFollow" resultType="com.medusa.gruul.goods.service.model.vo.MyShopFollowVO">
        SELECT
        shopFollow.shop_id AS shopId,
        shopFollow.shop_name AS shopName,
        shopFollow.shop_logo AS logo
        FROM
        t_shop_follow shopFollow
        WHERE
        shopFollow.deleted = 0
        <if test="shopFollowParam.userId != null">
            AND shopFollow.user_id = #{shopFollowParam.userId}
        </if>
    </select>
</mapper>
