<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.gruul.shop.service.mp.mapper.ShopDecorationPageMapper">

    <select id="referencedCount" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            t_shop_decoration_template
        WHERE
            shop_id = #{shopId} 
          AND
            JSON_CONTAINS(pages, JSON_OBJECT('pageId', ${id}))
          AND deleted = 0
    </select>
</mapper>
