@include b(goods-item) {
    @include e(foot) {
        padding: 0;
        padding-top: 12rpx;
        background-color: #fff;
    }
    @include e(name) {
        vertical-align: middle;
        line-height: 44rpx;
        height: 44rpx;
        font-size: 32rpx;
        font-weight: 400;
        overflow: hidden;
    }
    .double {
        height: 88rpx;
    }
    @include e(salepoints) {
        margin-top: 12rpx;
        color: rgba(224, 145, 4, 0.91);
        font-size: 24rpx;
        font-weight: 400;
    }
    @include e(price) {
        @include flex(space-between);
        margin-top: 12rpx;
        @include m(content) {
            flex: 1;
            margin-left: 6rpx;
        }
        @include m(free) {
            font-size: 20rpx;
            color: #999;
        }
    }
    @include e(coupon) {
        margin-top: 12rpx;
        @include m(list) {
            margin-left: 4rpx;
            padding: 2rpx 8rpx;
            line-height: 28rpx;
            font-size: 20rpx;
            color: #f54319;
            background-color: rgba(245, 67, 25, 0.05);
            border-radius: 4rpx;
        }
        @include b(ml0) {
            margin-left: 0;
        }
    }
    @include e(history) {
        color: rgba(224, 145, 4, 0.91);
        margin-top: 12rpx;
        font-size: 24rpx;
        line-height: 32rpx;
    }
    @include e(shop) {
        @include flex(space-between, center);
        margin-top: 12rpx;
        @include m(name) {
            color: #666;
            font-size: 24rpx;
            flex: 1;
            line-height: 32rpx;
            height: 32rpx;
            overflow: hidden;
        }
        @include b(label) {
            padding: 2rpx 8rpx;
            border-radius: 4rpx;
            color: #fff;
            font-size: 20rpx;
            line-height: 28rpx;
            margin-right: 12rpx;
        }
        @include b(label-red) {
            background-color: #f54319;
        }
        @include b(label-yellow) {
            background-color: #fd9224;
        }
    }
}
.tag {
    background-color: #f54319;
    color: #fff;
    font-size: 20rpx;
    line-height: 32rpx;
    height: 32rpx;
    padding: 2rpx 8rpx;
    border-radius: 4rpx;
    vertical-align: middle;
    margin-right: 10rpx;
}
