*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/src/assets
/docs
.husky
.local
/bin
.eslintrc.js
prettier.config.js
.prettier
/src/mock/*
changelog-option.js
*.d.ts
vite.config.js
checkEnv.js