*.sh
node_modules
*.md
**/*.woff
**/*.ttf
.vscode
.idea
dist


/docs
.husky
.local
/bin
**/*.eslintrc.js
prettier.config.js
**/*.prettier.js
changelog-option.js

*.d.ts
**/*vite.config.js
**/*batch-build.js

types/**
addon/**
*/public
**/index.umd.js
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.webp
**/*.scss
